<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h3{
        font-size: 15px
        }
        .h2-text {
        color: red
        }
        .h3 {
        color: yellow
        }
        #h1-text{
        font-size: 50px
        }
        ul > li: nth-child(2){
        color: red
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 id="h1-text"> Автоматизация тестирования</h1>
<h2 id="h2-text">HTML теги</h2>
<h3 class="h2-text">Основные HTML теги</h3>
<p>1.HTML — основной контейнер для всех элементов HTML-документа. Все содержимое страницы помещается внутри этого тега.</p>
<a href= "https://ru.wikipedia.org/wiki/HTML" target="_blank">HTML</a>
<img alt="browsers.png" src="https://i.pinimg.com/originals/28/2e/17/282e17473eadaede513a359f3977b946.jpg" style="width: 250px">
<ul>
<li> Повторение HTML атрибутов 1</li>
<li> Повторение HTML атрибутов 2 </li>
<li> Повторение HTML атрибутов 3</li>
</ul>
<ol>
    <li>Повторение HTML атрибутов  </li>
    <li>Повторение HTML атрибутов  </li>
    <li>Повторение HTML атрибутов  </li>
    <li>Повторение HTML атрибутов  </li>
</ol>
<form action="action" method="post">
    <input placeholder="введите текст">
    <input required type="email" placeholder="Email">
    <input type="password" placeholder="Введите пароль">
    <textarea required placeholder="введите значение">12345</textarea>
    <button type="submit" disabled>Сохранить</button>
<table>
    <thead>
<tr>
        <td>ico1</td>
        <td>ico2</td>
        <td>ico3</td>
        <td>ico4</td>
    </tr>
    </thead>
    <tbody>
<tr>
        <td>row</td>
        <td>row</td>
        <td>row</td>
        <td>row</td>
    </tr>
    <tr>
        <td>row</td>
        <td>row</td>
        <td>row</td>
        <td>row</td>
    </tr>
    </tbody>
</table>
    <div class="nth">
        <p>1</p>
        <p>2</p>
        <h4>3</h4>
        <h5>4</h5>
        <p>5</p>
    </div>
</form>
</body>
</html>